.container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "nav nav"
        "blog1 blog2"
        "footer footer"
    ;
}

.nav-container{
    grid-area: nav;
}

.blog-container{
    background-color: aqua;
}

#blog1{
    grid-area: blog1;
}

#blog2{
    grid-area: blog2;
}

.footer{
    grid-area: footer;
}