.container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns:repeat(5, 1fr);
    grid-template-areas: 
        "nav nav nav nav nav"
        "blog blog blog blog sidebar"
        "footer footer footer footer footer"
    ;
}
@media screen and (max-width: 800px) {
    .container{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns:repeat(5, 1fr);
        grid-template-areas: 
            "nav nav nav nav nav"
            "sidebar sidebar sidebar sidebar sidebar"
            "blog blog blog blog blog"
            "footer footer footer footer footer"
        ;
    }
}

.nav-container{
    grid-area: nav;
}

.blog{
    background-color: aqua;
    flex-grow: 1;
}

.blog-container{
    display: flex;
    grid-area: blog;
}

.sidebar {
    grid-area: sidebar;
}
.footer-container{
    grid-area: footer;
}
